$unit: 50px;

.chess-board {
  border: 1px solid #999;
  position: relative;
  user-select: none;
  @for $size from 1 through 12 {
    &.size-#{$size} {
      width: $size * $unit;
      height: $size * $unit;
    }
  }
  .row {
    .square {
      width: $unit;
      height: $unit;
      float: left;
      z-index: 0;
    }
    &:nth-of-type(odd) {
      .square:nth-of-type(even) {
        background-color: #eee;
      }
    }
    &:nth-of-type(even) {
      .square:nth-of-type(odd) {
        background-color: #eee;
      }
    }
  }
  @mixin grid-unit {
    width: $unit;
    height: $unit;
    position: absolute;
    @for $size from 0 through 11 {
      &.x-#{$size} {
        left: $size * $unit;
      }
      &.y-#{$size} {
        bottom: $size * $unit;
      }
    }
  }
  .move-square {
    background-color: rgba(0,120,255,0.1);
    @include grid-unit;
    z-index: 1;
  }
  .piece {
    cursor: pointer;
    font-size: 44px;
    line-height: 1.1em;
    text-align: center;
    @include grid-unit;
    z-index: 2;
  }
}
