$unit: 50px;
$square-index: 0;
$piece-index: 1;
$move-square-index: 2;

.chess-board {
  border: 1px solid #999;
  position: relative;
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  @for $size from 1 through 12 {
    &.size-#{$size} {
      .square {
        width: percentage(1 / $size);
        height: percentage(1 / $size);
      }
      width: $size * $unit;
      height: $size * $unit;
    }
  }
  &.builder {
    height: 2 * $unit;
    .square {
      height: 50%;
    }
  }
  @mixin grid-unit {
    width: $unit;
    height: $unit;
    position: absolute;
    @for $size from 0 through 11 {
      &.x-#{$size} {
        left: $size * $unit;
      }
      &.y-#{$size} {
        bottom: $size * $unit;
      }
    }
  }
  .square {
    position: relative;
    background-color: #fff;
    &.black {
      background-color: #eee;
    }
  }
  .move-square {
    background-color: rgba(0,120,255,0.1);
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: $move-square-index;
  }
  .piece {
    cursor: pointer;
    font-size: 44px;
    line-height: 1.1em;
    text-align: center;
    @include grid-unit;
    z-index: $piece-index;
  }
}
